<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="/home.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div id="main">
    <h1>TO DO APP</h1>
    <form action="/create-list" method="post">
      <div id="desc">
        <label for="description">Description</label>
        <input type="text" name="description" id="desc-input" placeholder="What do you need to do?" required>
      </div>
      <div id="container">
        <div id="cate">
          <label for="category">Category</label>
          <select name="category" id="category" required>
            <option value="CHoose" disabled>Choose one option</option>
            <option value="personal">Personal</option>
            <option value="work">Work</option>
            <option value="school">School</option>
            <option value="cleaning">Cleaning</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div id="date">
          <label for="date">Due date</label>
          <input type="date" name="date" id="duedate" required>
        </div>
      </div>
      <div id="button-area">
        <button type="submit" id="submit">
          <i class="fas fa-plus"></i>
          <p>ADD TASK</h2>
        </button>
        <button id="delete-task" form="delete-it">
          <i class="fa fa-trash"></i>
          <p>DELETE TASK</p>
        </button>
      </div>
    </form>

    <% for(let i=0; i<list.length; i++){ %>
      <div id="display">
        <div id="card">
          <form id="delete-inst" action="" method="post">
            <input type="checkbox" name="check" id="check">
            <input type="text" name="id" value="<%= list[i]._id %>" hidden>
          </form>
          <div id="inst-details">
            <h1>
              <%= list[i].description %>
            </h1>
            <div id="inst-date">
              <i class="fas fa-calendar-alt"></i>
              <span>
                <%= list[i].date %>
              </span>
            </div>
          </div>

          <div id="inst-type" style="background-color: <%= Color[i] %>">
            <span id="type">
              <%= list[i].category %>
            </span>
          </div>
        </div>
      </div>
      <% } %>
  </div>
  <script src="jquery/jquery-3.6.0.js"></script>
  <script src="/home.js"></script>
</body>

</html>